/*
https://icons.getbootstrap.com/

*/
.header {
	height: 135px;
	border-style: 1px;
}

footer {
	padding: 3px;
	border: 5px solid red;
	margin: 3px;
	
}

 img {
 	margin: 2px;
 }
 
