<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
		crossorigin="anonymous">	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="../css/webliotecaStyle.css" media="screen" />	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
	<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
			crossorigin="anonymous"></script>
	<script src="../javascript/scripts.js" type="text/javascript"></script>			
	<script src="../javascript/jquery.mask.js" type="text/javascript"></script>
	<script src="../javascript/CONFIG.jquery.mask.js" type="text/javascript"></script>

<title>Livros</title>
</head>

<body>
	<div class="container-fluid">
        <header class="header">
  			<img src="../img/books.png" alt="bookstore">	
  			<img src="../img/weblioteca.png" alt="Weblioteca"  height="110">
        </header>
		<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-between">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}"><i class="bi bi-house-door"></i> Home</a>
				</li>
				<!-- Dropdown -->
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class="bi bi-book"></i> Livros</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/indexLivro}"><i class="bi bi-book"></i> Livros</a> 
						<a class="dropdown-item" th:href="@{/novoLivro}"><i class="bi bi-book"></i> Novo Livro</a> 
					</div>
				</li>
			</ul>
			<form class="form-inline" th:action="@{/indexLivro/{pesquisa}}">
		  		<div class="input-group ">
					<select name="ativo" id="ativo" th:value="${ativo}" class="form-control "  required>
	                	<optgroup label="Selecione">
	                	<option value="1" >Ativos</option>
	                	<option value="0" >Inativos</option>
	    			</select>
					<div class="input-group-append">						  
						<button type="button" class="btn btn-outline-info colado" data-toggle="collapse" data-target="#ajudaAtivoLivro">?</button>
			  		</div>
		  		</div>
		  		&nbsp;&nbsp;
		  		<div class="input-group ">
			    	<input class="form-control " type="text" placeholder="Titulo do Livro" name="pesquisa" id="pesquisa" size="50" th:value="${pesquisa}" />
				  	<div class="input-group-append">						  
						<button type="button" class="btn btn-outline-info colado" data-toggle="collapse" data-target="#ajudaPesquisaLivro">?</button>
			  		</div>
		  		</div>	
			  		&nbsp;&nbsp;
			  	<div class="input-group ">
		    		<button class="btn btn-outline-success my-2 my-sm-0 " type="submit"> Pesquisar <i class="bi bi-search "></i></button>				 
				</div>
			</form>
		</nav>
		<div id="ajudaAtivoLivro" class="collapse azulAjuda direita1">
            Escolha se o Livro é ativo ou inativo no Sistema.
        </div>	
        <div id="ajudaPesquisaLivro" class="collapse azulAjuda direita2">
            Digite o Título do livro a pesquisar.
        </div>
		<hr></hr>	
		<div class="row box">
	      	<div class=" esquerda1" >
				<button type="button" onClick="history.go(-1)" class="btn btn-info" ><i class="bi bi-reply-fill  "></i> Voltar</button>
	      	</div>
      		<div >
				<h3>Livros</h3>
      		</div>
	      	<div class="direita3" >
				<a th:href="@{/novoLivro}" class="btn btn-success "><i class="bi bi-book "></i> Novo Livro</a>
	      	</div>
	    </div>
	    <hr></hr>	
		<div class="row" >
			<div class="col-sm-12">						
				<table border="1" class = "table table-striped">
					<thead>
						<tr>
							<th><a
								th:href="@{'/pageLivro/' + ${currentPage} + '?sortField=tituloLivro&sortDir=' + ${reverseSortDir}}">
									Titulo</a></th>
							<th><a
								th:href="@{'/pageLivro/' + ${currentPage} + '?sortField=quantidade&sortDir=' + ${reverseSortDir}}">
									Quantidade</a></th>
							<th><a
								th:href="@{'/pageLivro/' + ${currentPage} + '?sortField=localizacao&sortDir=' + ${reverseSortDir}}">
									Localizacao</a></th>
							<th><a
								th:href="@{'/pageLivro/' + ${currentPage} + '?sortField=autora&sortDir=' + ${reverseSortDir}}">
									Autor</a></th>
							<th><a
								th:href="@{'/pageLivro/' + ${currentPage} + '?sortField=editora&sortDir=' + ${reverseSortDir}}">
									Editora</a></th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
					<tr th:each="livro : ${listaLivros}">
						<td th:text="${livro.tituloLivro}"></td>
						<td th:text="${livro.quantidade}"></td>
						<td th:text="${livro.localizacao}"></td>
						<td th:text="${livro.autor.nome}"></td>
						<td th:text="${livro.editora.nome}"></td>
						<td class="center">
							<a th:href="@{/atualizarLivro/{id}(id=${livro.livroId})}" class="btn btn-primary"><i class="bi bi-book "></i> Atualizar</a>
							
							<span th:if="${livro.ativo == 1}">
								
							<button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#remover_'+${livro.livroId}"><i class="bi bi-book-fill "></i> Inativar</button>
						    	
						    <div class="modal fade" th:id="remover_+${livro.livroId}"  tabindex="-1" role="dialog" aria-hidden="true">
					         	<div class="modal-dialog modal-dialog-centered" role="document">
						        	<div class="modal-content">
							        	<div class="modal-header">
								        	<h5 class="modal-title" id="modalConfirmacao">Confirmação</h5>
								            	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								                	<span aria-hidden="true">&times;</span>
								                </button>
							            </div>
							            <div class="modal-body">
							            	<p>Tem certeza que quer inativar esse livro?</p>
							            </div>
							            <div class="modal-footer">
								        	<a th:href="@{/indexLivro}" class="btn btn-warning" data-dismiss="modal">Cancelar</a>
								            <a type="button" class="btn btn-danger" th:href="@{/deletarLivro/{id}(id=${livro.livroId})}">Sim, desejo realmente <b>Inativar!</b></a>
							            </div>
						            </div>
					           	</div>
				            </div>	
				            
				            </span>
							<span th:unless="${livro.ativo == 1}">
							<button type="button" class="btn btn-success" data-toggle="modal" th:attr="data-target='#ativar_'+${livro.livroId}"><i class="bi bi-book "></i> Ativar</button>
						    	
						    <div class="modal fade" th:id="ativar_+${livro.livroId}"  tabindex="-1" role="dialog" aria-hidden="true">
					         	<div class="modal-dialog modal-dialog-centered" role="document">
						        	<div class="modal-content">
							        	<div class="modal-header">
								        	<h5 class="modal-title" id="modalConfirmacao2">Confirmação</h5>
								            	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								                	<span aria-hidden="true">&times;</span>
								                </button>
							            </div>
							            <div class="modal-body">
							            	<p>Tem certeza que quer ativar esse livro?</p>
							            </div>
							            <div class="modal-footer">
								        	<a th:href="@{/indexLivro}" class="btn btn-warning" data-dismiss="modal">Cancelar</a>
								            <a type="button" class="btn btn-success" th:href="@{/ativarLivro/{id}(id=${livro.livroId})}">Sim, desejo realmente <b>Ativar!</b></a>
							            </div>
						            </div>
					           	</div>
				            </div>			     
				          	</span>			              
						</td>												
				</tr>
			</tbody>
		    </table>
			</div>
			
		</div>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Livros: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/pageLivro/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/pageLivro/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Avançar</a>
					<span th:unless="${currentPage < totalPages}">Avançar</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/pageLivro/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Voltar</a>
					<span th:unless="${currentPage < totalPages}">Voltar</span>
   				 </div>
			</div>
				
		</div>
		
	    <footer class="site-footer ">
	      <div class="container ">
	        <div class="row  ">
	          <div class="col-md-9 col-sm-9 col-xs-12 " >
	            <p>Copyright &copy; 2021 - Todos os direitos reservados a Weblioteca. Siga nossas redes sociais. 
	            </p>
	          </div>	
	          <div class="col-md-3 col-sm-3 col-xs-12 ">
	            <ul class="social-icons">
	              <li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
	              <li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
	              <li><a class="instagram" href="#"><i class="bi bi-instagram"></i></a></li>
	              <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a></li>   
	            </ul>
	          </div>
	        </div>
	      </div>
		</footer>  
	    
	</div>
</body>
</html>