<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	  content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="css/webliotecaStyle.css" media="screen" />

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">
	
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<title>Funcionarios</title>
</head>

<body>
	<div class="container-fluid">
        <header class="header">
  			<img src="img/books.png" alt="bookstore">	
        </header>

		<nav class="navbar navbar-expand-sm bg-light navbar-light">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}"><i class="bi bi-house-door"></i> Home</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/}"><i class="bi bi-search"></i> Pesquisar</a></li>

				<!-- Clientes Dropdown -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbardrop"
						data-toggle="dropdown"><i class="bi bi-person-plus"></i>Clientes</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/indexcliente}"><i class="bi bi-person-bounding-box"></i>Manter Clientes</a> 
						</div>
					</li>
                
				<!-- Funcionarios Dropdown -->
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbardrop"
					data-toggle="dropdown"><i class="bi bi-person-plus"></i>Funcionários</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/indexfuncionario}"><i class="bi bi-person-square"></i> Manter Funcionários</a> 
					</div></li>
					
					<!-- Livros Dropdown -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbardrop"
						data-toggle="dropdown"><i class="bi bi-person-plus"></i>Livros</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/indexLivro}"><i class="bi bi-person-square"></i>Manter Livros</a> 
						</div>
					</li>
					
					<!-- Autores Dropdown -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbardrop"
						data-toggle="dropdown"><i class="bi bi-person-plus"></i>Autores</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/indexLivro}"><i class="bi bi-person-square"></i>Manter Livros</a> 
						</div>
					</li>
					
					<!-- Editoras Dropdown -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbardrop"
						data-toggle="dropdown"><i class="bi bi-person-plus"></i>Editoras</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/indexLivro}"><i class="bi bi-person-square"></i>Manter Livros</a> 
						</div>
					</li>
					
					<!-- Emprestimos Dropdown  -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbardrop"
						data-toggle="dropdown"><i class="bi bi-person-plus"></i>Emprestimos</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/}"><i class="bi bi-person-bounding-box"></i>Emprestar Livro</a> 
							<a class="dropdown-item" th:href="@{/}"><i class="bi bi-person "></i>Prolongar Empréstimo</a> 
							<a class="dropdown-item" th:href="@{/indexReserva}"><i class="bi bi-journal-bookmark"></i> Reservar Exemplares</a> 
							<a class="dropdown-item" th:href="@{/indexDevolucao}"><i class="bi bi-journal-check"></i> Devolução Empréstimo</a>
							<a class="dropdown-item" th:href="@{/indexFaturar}"><i class="bi bi-journal-arrow-down"></i> Faturar Empréstimo</a>
						</div>
					</li>
					
					<!-- Emprestimos Dropdown  -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbardrop"
						data-toggle="dropdown"><i class="bi bi-person-plus"></i>Multas</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/abonarMulta}"><i class="bi bi-person-bounding-box"></i> Abonar Multa</a>  
						</div>
					</li>
					
				<li class="nav-item"><a class="nav-link"  th:href="@{/relatorios}"><i class="bi bi-file-bar-graph"></i> Relatórios</a>
				</li>
				<form class="form-inline">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Pesquisar Livro" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ok</button>
				</form>
			</ul>
		</nav>

		<div class="row">
			<div class="col-sm-12">
			
			<h3>Lista de Funcionários</h3>
				<a th:href = "@{/novofuncionario}" class="btn btn-primary">Adicionar Funcionário</a>
				<table border="1" class = "table table-striped table-responsive-md">
					<thead>
						<tr>
							<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=nome&sortDir=' + ${reverseSortDir}}">
									Nome</a></th>
							<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=sexo&sortDir=' + ${reverseSortDir}}">
									Sexo</a></th>
							<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=cpf&sortDir=' + ${reverseSortDir}}">
									Função</a></th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
					<tr th:each="funcionarios : ${listaFuncionarios}">
						<td th:text="${funcionarios.nome}"></td>
						<td th:text="${funcionarios.sexo}"></td>
						<td th:text="${funcionarios.funcao}"></td>
					    <td> <a th:href="@{/atualizarfuncionario/{id}(id=${funcionarios.funcionarioId})}" class="btn btn-primary">Atualizar</a>
					         <a th:href="@{/deletarfuncionario/{id}(id=${funcionarios.funcionarioId})}" class="btn btn-danger">Deletar</a>
					    </td>
				</tr>
			</tbody>
		    </table>
			</div>
			
		</div>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Clientes: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Avançar</a>
					<span th:unless="${currentPage < totalPages}">Avançar</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Voltar</a>
					<span th:unless="${currentPage < totalPages}">Voltar</span>
   				 </div>
			</div>
				
		</div>
		
	    <footer>
	     <div>
	     <ul class="nav list-inline justify-content-center">
	      <li>Todos os direitos reservados a Weblioteca. Siga nossas redes sociais.</li>
          <li><a href="#" target="_blank"><img src="img/linkedin.png" width="48" height="48"></a></li>      
          <li><a href="#" target="_blank"><img src="img/twitter.png" width="48" height="48"></a></li>     
          <li><a href="#" target="_blank"><img src="img/instagram.png" width="48" height="48"></a></li>
          <li><a href="#" target="_blank"><img src="img/facebook.png" width="48" height="48"></a></li>        
        </ul> 
	     </div>	
	    </footer>
	    
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"></script>
</body>
</html>