<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
		crossorigin="anonymous">	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="../css/webliotecaStyle.css" media="screen" />	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
	<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
			crossorigin="anonymous"></script>	
	<script src="../javascript/scripts.js" type="text/javascript"></script>		
	<script src="../javascript/jquery.mask.js" type="text/javascript"></script>
	<script src="../javascript/CONFIG.jquery.mask.js" type="text/javascript"></script>
	<title>Adicionar Livro</title>
</head>
<body>
	<div class="container-fluid">
        <header class="header">
  			<img src="../img/books.png" alt="bookstore">	
  			<img src="../img/weblioteca.png" alt="Weblioteca"  height="110">
        </header>
		<nav class="navbar navbar-expand-sm bg-light navbar-light">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}"><i class="bi bi-house-door"></i> Home</a>
				</li>
				<!-- Dropdown -->
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class="bi bi-book"></i> Livros</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/indexLivro}"><i class="bi bi-book"></i> Livros</a> 
						<a class="dropdown-item" th:href="@{/novoLivro}"><i class="bi bi-book"></i> Novo Livro</a> 
					</div>
				</li>
			</ul>
		</nav>
		<hr></hr>	
      	<div class="center">
			<h3>Cadastrar Livro</h3>
      	</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card-body">
						<form action="#" th:action="@{/salvarLivro}" th:object="${livro}" method="POST" class="needs-validation"  novalidate>
						<div id="ajudaTituloLivro" class="collapse azulAjuda">
                            O nome do livro
                        </div>
                        <div class="input-group mb-3">  
								<input type="text" th:field="*{tituloLivro}" placeholder="Titulo" class="form-control col-12" required>
								<div class="input-group-append">						  
									<button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#ajudaTituloLivro">?</button>
						  		</div>	
						</div>
						<div id="ajudaEditora" class="collapse azulAjuda">
                            Editora que reproduz o livro
                        </div>	
                        <div class="input-group mb-3"> 						
								<select th:field="*{editora}" class="form-control col-12" required >
			                            <option value="">Selecione uma editora</option>
			    						<option th:each="editora : ${listEditora}" th:value="${editora.editoraId}" th:text="${editora.nome} " th:if="${editora.ativo == 1}"></option>
			    				</select>
								<div class="input-group-append">						  
									<button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#ajudaEditora">?</button>
						  		</div>	
						</div>
						<div id="ajudaAutor" class="collapse azulAjuda">
                            Autor que escreve o livro
                        </div>	
                        <div class="input-group mb-3"> 					
								<select th:field="*{autor}" class="form-control col-12" required >
			                            <option value="">Selecione um autor</option>
			    						<option th:each="autor : ${listAutor}" th:value="${autor.autorId}" th:text="${autor.nome}" th:if="${autor.ativo == 1}"></option>
			    				</select>
								<div class="input-group-append">						  
									<button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#ajudaAutor">?</button>
						  		</div>	
						</div>
						<div id="ajudaEdicao" class="collapse azulAjuda">
                            Numero da edição lançada
                        </div>	
						<div class="input-group mb-3"> 	
			    				<input type="text" th:field="*{edicao}" placeholder="Edicao"   class="form-control col-12" required >
								<div class="input-group-append">						  
									<button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#ajudaEdicao">?</button>
						  		</div>	
						</div>
						<div id="ajudaQuantidade" class="collapse azulAjuda">
                            Quantidade de Livros disponíveis
                        </div>
                        <div class="input-group mb-3"> 
								<input type="text" th:field="*{quantidade}" placeholder="Quantidade" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control col-12" required >
								<div class="input-group-append">						  
									<button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#ajudaQuantidade">?</button>
						  		</div>		
						</div>	
						<div id="ajudaLocalizacao" class="collapse azulAjuda">
                            Localizacao fisica do livro
                        </div>	
                        <div class="input-group mb-3"> 
								<input type="text" th:field="*{localizacao}" placeholder="Localizacao"   class="form-control col-12" required >
								<div class="input-group-append">						  
									<button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#ajudaLocalizacao">?</button>
						  		</div>		
						</div>		
						<div id="ajudaDataDeCompra" class="collapse azulAjuda">
                            Data que o livro foi adquirido pela biblioteca
                        </div>		
                        <div class="input-group mb-3"> 					
								<input type="date" th:field="*{dataDeCompra}" placeholder="DataDeCompra" class="form-control col-12" required >				
								<div class="input-group-append">						  
									<button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#ajudaDataDeCompra">?</button>
						  		</div>		
						</div>								
						<div class="row form-group"> 
                             <div class="col text-center form-actions">                                 
                                 <div  id="colaps2" class="collapse"> 
                                 	<a th:href="@{/indexLivro}" class="btn btn-warning" data-dismiss="modal">Cancelar</a>
                                     <button type="submit" id="submit" class="btn btn-success" value="Salvar Livro" data-toggle="collapse"  data-target="#colaps"   data-dismiss="modal">Sim, desejo realmente <b>Salvar!</b></button>
                                     </br>
                                 </div>
                                 <div class="form-actions floatRight">
                                     </br>
                                     <input type="button" value="Salvar Livro" class="btn btn-info" data-toggle="collapse"  data-target="#colaps2">
                                 </div>   
                             </div>
                         </div>
						</form>
					</div>
				<hr>
				<a th:href="@{/indexLivro}">Voltar lista de livros</a>
			</div>
		</div>

		<footer class="site-footer ">
	      <div class="container ">
	        <div class="row  ">
	          <div class="col-md-9 col-sm-9 col-xs-12 " >
	            <p>Copyright &copy; 2021 - Todos os direitos reservados a Weblioteca. Siga nossas redes sociais.  
	            </p>
	          </div>
	          <div class="col-md-3 col-sm-3 col-xs-12 ">
	            <ul class="social-icons">
	              <li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
	              <li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
	              <li><a class="instagram" href="#"><i class="bi bi-instagram"></i></a></li>
	              <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a></li>   
	            </ul>
	          </div>
	        </div>
	      </div>
		</footer>
	    
	</div>
</body>
</html>